.footer {
  @include bg-grey-dark-colour;
  color: white;
  position: relative;
  bottom: 30px;

  &__logo {
    font-family: $font-primary;
    font-size: 1.5rem;
  }

  & li {
    list-style: none;
  }

  & ul {
    padding: 0;
    list-style-type: none;
    @include flexCol-spacearound;
    row-gap: 0.8rem;

    @media screen and (min-width: map-get($map: $breackpoint, $key: tablettexl )) {
      flex-direction: row;
    }
  }

  & a {
    color: white;
    text-decoration: none;
    @include font;
  }

  @media screen and (min-width: map-get($map: $breackpoint, $key: tablettexl )) {
    text-align: center;
  }
}

footer + .container {
  margin-top: 0 !important;
}
