/* Main view Header */
.main-header {
  @include header;
  position: relative;
}
/* Layout Header */
header {
  @include header;
  position: fixed;
  background-color: #fff;
  z-index: 7;
}
/* For menu views only */
.header-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  color: black;
}
