.main-menu {
  background-color: $grey-light-color;
  position: relative;
  bottom: 30px;
  border-radius: 30px 30px 0 0;

  & p {
    margin: 0.3rem 0;
  }

  & h1 {
    font-family: shrikhand;
    margin: 0;
  }

  & h4 {
    margin: 0.3rem 0;
    font-weight: bolder;
  }
}

.hero-image {
  height: 250px;
  width: 100%;
  overflow: hidden;
  & img {
    object-fit: cover;
    animation: zoomOut 1500ms forwards;
  }
}

.menu {
  @media screen and (min-width: map-get($map: $breackpoint, $key: tablettexl )) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.submenu-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px 0 7px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: auto;

  &__header {
     /* animation "checker" */
    transition: width 500ms;
    /* END */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    & h4,
    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: -4rem;
    /* animation "checker" */
    transform: translateX(0);
    transition: transform 0.5s ease-out;
    i {
      transform: rotate(180deg);
      transition: transform 0.7s ease-out;
    }
    /* END */
    &__price {
      font-weight: bolder;
      margin: 2.2rem 1rem 0 0;
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4.5rem;
    @include bg-tertiary-colour;

    & i {
      color: white;
      font-size: 1.2rem;
    }
  }
 /* animation "checker" */
  &:hover,
  &:focus {
    cursor: pointer;
    .submenu-item {
      &__header {
        width: 70%;
      }

      &__footer {
        transform: translateX(-4rem);
        i {
          transform: rotate(720deg);
        }
      }
    }
  }
  /* END */
}

.submenu {
  @media screen and (min-width: map-get($map: $breackpoint, $key: tablettexl )) {
    width: 30%;
  }

  &__title {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 40px;
      @include bg-tertiary-colour;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
}

.order {
  text-align: center;
  margin: 35px;
  & button {
    width: 150px;
    font-family: $font-secondary;
  }
}

/* ANIMATION */

/* Hero */

@keyframes zoomOut {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

/* fadeIn */

@keyframes fadeIn {
  from {
    position: relative;
    bottom: -3px;
    opacity: 0;
  }
  to {
    position: relative;
    bottom: 0;
    opacity: 1;
  }
}

.delayed1,
.delayed2,
.delayed3,
.delayed4,
.delayed5,
.delayed6,
.delayed7,
.delayed8,
.delayed9 {
  opacity: 0;
}
@media screen and(max-width:  map-get($map: $breackpoint, $key: tablettexl )) {
  .delayed1 {
    animation: fadeIn 1s 150ms forwards;
  }
  .delayed2 {
    animation: fadeIn 1s 300ms forwards;
  }
  .delayed3 {
    animation: fadeIn 1s 450ms forwards;
  }
  .delayed4 {
    animation: fadeIn 1s 600ms forwards;
  }
  .delayed5 {
    animation: fadeIn 1s 750ms forwards;
  }
  .delayed6 {
    animation: fadeIn 1s 900ms forwards;
  }
  .delayed7 {
    animation: fadeIn 1s 1050ms forwards;
  }
  .delayed8 {
    animation: fadeIn 1s 1200ms forwards;
  }
  .delayed9 {
    animation: fadeIn 1s 1350ms forwards;
  }
}

@media screen and(min-width: 1025px) {
  .delayedA,
  .delayedB,
  .delayedC {
    opacity: 0;
  }

  .delayedD {
    animation: fadeIn 1s forwards;
  }

  .delayedA,
  .delayed1,
  .delayed4,
  .delayed7 {
    animation: fadeIn 1s 150ms forwards;
  }

  .delayedB,
  .delayed2,
  .delayed5,
  .delayed8 {
    animation: fadeIn 1s 300ms forwards;
  }

  .delayedC,
  .delayed3,
  .delayed6,
  .delayed9 {
    animation: fadeIn 1s 450ms forwards;
  }
}
