.main-menu {
  background-color: $grey-light-color;
  position: relative;
  bottom: 30px;
  border-radius: 30px 30px 0 0;

  & p {
    margin: 0.3rem 0;
  }

  & h1 {
    font-family: shrikhand;
    margin: 0;
  }

  & h4 {
    margin: 0.3rem 0;
    font-weight: bolder;
  }
}

.hero-image {
  height: 250px;
  width: 100%;
  overflow: hidden;
  & img {
    object-fit: cover;
    animation: zoomOut 1500ms forwards;
  }
}

.menu {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.submenu-item {
  @include flexCol-spacearound;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: auto;

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &__price {
      font-weight: bolder;
    }
  }
}

.submenu {
  @media screen and (min-width: 1024px) {
    width: 30%;
  }

  &__title {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 40px;
      background: $tertiary-color;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
}

.order {
  text-align: center;
  margin: 35px;
  & button {
    width: 150px;
    font-family: roboto;
  }
}

/* ANIMATION */

/* Hero */

@keyframes zoomOut {
  from {
    transform: scale(2);
  }
  to {
    transform: (1);
  }
}

/* fadeIn */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delayed1,
.delayed2,
.delayed3,
.delayed4,
.delayed5,
.delayed6,
.delayed7,
.delayed8,
.delayed9 {
  opacity: 0;
}
@media screen and(max-width: 1024px) {
  .delayed1 {
    animation: fadeIn 1s 150ms forwards;
  }
  .delayed2 {
    animation: fadeIn 1s 300ms forwards;
  }
  .delayed3 {
    animation: fadeIn 1s 450ms forwards;
  }
  .delayed4 {
    animation: fadeIn 1s 600ms forwards;
  }
  .delayed5 {
    animation: fadeIn 1s 750ms forwards;
  }
  .delayed6 {
    animation: fadeIn 1s 900ms forwards;
  }
  .delayed7 {
    animation: fadeIn 1s 1050ms forwards;
  }
  .delayed8 {
    animation: fadeIn 1s 1200ms forwards;
  }
  .delayed9 {
    animation: fadeIn 1s 1350ms forwards;
  }
}

@media screen and(min-width: 1025px) {
  .delayedA,
  .delayedB,
  .delayedC {
    opacity: 0;
  }

  .delayedD {
    animation: fadeIn 1s forwards;
  }

  .delayedA,
  .delayed1,
  .delayed4,
  .delayed7 {
    animation: fadeIn 1s 150ms forwards;
  }

  .delayedB,
  .delayed2,
  .delayed5,
  .delayed8 {
    animation: fadeIn 1s 300ms forwards;
  }

  .delayedC,
  .delayed3,
  .delayed6,
  .delayed9 {
    animation: fadeIn 1s 450ms forwards;
  }
}
