.main-menu {
  background-color: $grey-light-color;
  position: relative;
  bottom: 30px;
  border-radius: 30px 30px 0 0;

  & p {
    margin: 0.3rem 0;
  }

  & h1 {
    font-family: shrikhand;
    margin: 0;
  }

  & h4 {
    margin: 0.3rem 0;
    font-weight: bolder;
  }
}

.hero-image {
  height: 250px;
  width: 100%;

  & img {
    object-fit: cover;
  }
}

.menu {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.submenu-item {
  @include flexCol-spacearound;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 7px 15px;

  &__footer {
    display: flex;
    justify-content: space-between;

    &__price {
      font-weight: bolder;
    }
  }
}

.submenu {
  @media screen and (min-width: 1024px) {
    width: 30%;
  }

  &__title {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 40px;
      background: $tertiary-color;
      position: absolute;
      left: calc(10% - 10%);
      bottom: -5px;
    }
  }
}

.order {
  text-align: center;
  margin: 35px;
  & button {
    width: 150px;
    font-family: roboto;
  }
}
