<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <title>Restaurant - A La Française</title>
  <link rel="icon" type="image/svg" href="../public/images/logo/ohmyfood@2x.svg"> </head>
<body>
<header class="header header--backArrow">
 
    <a href="../index.html" alt="OhMyFood"><i class=" fa-arrow-left fas header-arrow"></i></a>
    <h1>ohmyfood</h1>


</header>
<div class="hero-image">
<img src="../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="" class="hero-image">
</div>
<main class="container main-menu">
  <div class="menu__header">
    <h1 class="menu__header-name">A la française</h1>
     <i class="fa-2x fa-heart far"></i> 
  </div>

  <div class="menu">
    <div class="submenu">
      <h3 class="submenu__title">
        Entrées
      </h3>
      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Tartare de poulpe acidulé</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Aux zestes d'orange</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>25€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Velouté de légumes d'antan</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Carotte, panais, topinambour</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>35€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Soupe à l'oignon</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Revisitée</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>20€</p>
        </div></div>

      </div>
    </div>
    <div class="submenu">
      <h3 class="submenu__title">
        Plats
      </h3>
      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Coquilles Saint-Jacques</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Accompagnées d'une purée de panais</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>40€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Magret de canard</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Et parmentier de pommes de terre</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>35€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Pigeonneau d’Ille-et-Vilaine</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Sur son lit de gnocchis aux légumes</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>44€</p>
        </div></div>

      </div>
    </div>
    <div class="submenu">
      <h3 class="submenu__title">
        Desserts
      </h3>
      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Pétales de violettes glacés</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Et purée de noisettes</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>18€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Fondant au chocolat</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Revisité</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>22€</p>
        </div></div>

      </div>

      <div class="submenu-item box-shadow">
        <div class="submenu-item__title">
          <h4>Millefeuille croustillant</h4>
        </div>
        <div class="submenu-item__footer">
        <div class="submenu-item__footer__arguments">
          <p>Myrtilles et pâte d’amande</p>
        </div>
        <div class="submenu-item__footer__price">
          <p>23€  </p>
        </div></div>

      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer__logo">ohmyfood</div>
    <ul class="footer__list">
      <li class=footer__listElement>
        <a class="footer__link" href="#">
          <i class="fa-utensils fas"></i>
          Proposer un restaurant
        </a>
      </li>
      <li class="footer__listElement">
        <a class="footer__link" href="#">
          <i class="fa-hands-helping fas"></i>
          Devenir partenaire
        </a>
      </li>
      <li class="footer__listElement">
        <a class="footer__link" href="#">Mentions légales</a>
      </li>
      <li class="footer__listElement">
        <a class="footer__list" href="#">Contact</a>
      </li>
    </ul>
  </div>
</footer>
  



</body>