<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <title>Restaurant - La Note Enchantée</title>
  <link rel="icon" type="image/svg" href="../public/images/logo/ohmyfood@2x.svg">
</head>

<body>
  <header class="header header--backArrow">

    <a href="../index.html" alt="OhMyFood"><i class=" fa-arrow-left fas header-arrow"></i></a>
    <h1>ohmyfood</h1>


  </header>
  <div class="hero-image">
    <img src="../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="" class="hero-image">
  </div>
  <main class="container main-menu">
    <div class="menu__header">
      <h1 class="menu__header-name delayedD">La note enchantée</h1>
      <button class="menu__btn">
        <i class="menu__like menu__like--noBg far fa-heart fa-2x"></i>
        <i class="menu__like menu__like--bg fas fa-heart fa-2x"></i>
      </button>
    </div>

    <div class="menu">
      <div class="submenu">
        <h3 class="submenu__title delayedA">
          Entrées
        </h3>
        <div class="submenu-item box-shadow delayed1">
          <div class="submenu-item__title">
            <h4>Ravioles de foie gras</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Accompagnés de leur crème à la truffe</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>25€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed2">
          <div class="submenu-item__title">
            <h4> Caviar osciètre</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p> Sur blini à la farine de blé noir</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>35€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed3">
          <div class="submenu-item__title">
            <h4> Homard et espuma de potiron</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Mariné aux zestes d'orange</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>20€</p>
            </div>
          </div>

        </div>
        <div class="submenu-item box-shadow delayed3">
          <div class="submenu-item__title">
            <h4>Foie gras de canard cuit entier</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p> Confiture de figue et pain toasté</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>35€</p>
            </div>
          </div>

        </div>
      </div>
      <div class="subMenu">
        <h3 class="submenu__title delayedB">
          Plats
        </h3>
        <div class="submenu-item box-shadow delayed4">
          <div class="submenu-item__title">
            <h4>Noix de coquilles Saint-Jacques</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Sur lit de purée de céleri-rave</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>40€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed5">
          <div class="submenu-item__title">
            <h4>Langoustine poêlée</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Purée de patate douce</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>35€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed6">
          <div class="submenu-item__title">
            <h4>Mijoté de queue de boeuf </h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p> Et riz sauvage aux zestes de citron</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>44€</p>
            </div>
          </div>

        </div>
      </div>
      <div class="subMenu">
        <h3 class="submenu__title delayedC">
          Desserts
        </h3>
        <div class="submenu-item box-shadow delayed7">
          <div class="submenu-item__title">
            <h4>Macaron noisette et chocolat</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Glace au caramel brun et sel de Guérande</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>18€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed8">
          <div class="submenu-item__title">
            <h4>Baba au rhum revisité</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p> Avec son coulis de citron</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>22€</p>
            </div>
          </div>

        </div>

        <div class="submenu-item box-shadow delayed9">
          <div class="submenu-item__title">
            <h4>Tarte au citron meringuée </h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p> Déstructurée</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>23€ </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="order">
      <button class="btn btn--gradiant btn--gradiant-animated text-font box-shadow" type="button">
        Commander
      </button>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">ohmyfood</div>
      <ul class="footer__list">
        <li class=footer__listElement>
          <a class="footer__link" href="#">
            <i class="fa-utensils fas"></i>
            Proposer un restaurant
          </a>
        </li>
        <li class="footer__listElement">
          <a class="footer__link" href="#">
            <i class="fa-hands-helping fas"></i>
            Devenir partenaire
          </a>
        </li>
        <li class="footer__listElement">
          <a class="footer__link" href="#">Mentions légales</a>
        </li>
        <li class="footer__listElement">
          <a class="footer__list" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </footer>




</body>