<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <title>Restaurant - La Palette Du Goût</title>
  <link rel="icon" type="image/svg" href="../public/images/logo/ohmyfood@2x.svg"> </head>
<body>
<header class="header header--backArrow">
  <div class="containerRestaurant">
    <a href="../index.html" alt="OhMyFood">ohmyfood</a>
  </div>

</header>
<img src="../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="" class="heroImg">
<main class="container menu">
  <header class="menu__header">
    <h1 class="menu__restaurantName">La Palette Du Gout</h1>
    <button class="menu__btn"> <i class="fa-2x fa-heart far"></i> </button>
  </header>

  <div class="menu">
    <div class="submenu">
      <h3 class="submenu__title">
        Entrées
      </h3>
      <div class="submenuItem">
        <div class="submenuItem__title">
          Fricassée d'escargot
        </div>
        <div class="submenuItem__arguments">
          Au piment d'Espelette 
        </div>
        <div class="submenuItem__price">
          25€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Foie gras de canard mi-cuit
        </div>
        <div class="submenuItem__arguments">
          Et ses copeaux de truffe noire
        </div>
        <div class="submenuItem__price">
          35€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Oeuf au plat
        </div>
        <div class="submenuItem__arguments">
          Assaisonné à la truffe sur lit de caviar
        </div>
        <div class="submenuItem__price">
          20€
        </div>

      </div>
    </div>
    <div class="subMenu">
      <h3 class="submenu__title">
        Plats
      </h3>
      <div class="submenuItem">
        <div class="submenuItem__title">
          Filet de boeuf aux herbes
        </div>
        <div class="submenuItem__arguments">
          Accompagné de sa ribambelle de légumes
        </div>
        <div class="submenuItem__price">
          40€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Parmentier de queue de boeuf
        </div>
        <div class="submenuItem__arguments">
          À la truffe noire sur sa purée de panais
        </div>
        <div class="submenuItem__price">
          35€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Filet de turbot
        </div>
        <div class="submenuItem__arguments">
          Aux agrumes
        </div>
        <div class="submenuItem__price">
          44€
        </div>

      </div>
    </div>
    <div class="subMenu">
      <h3 class="submenu__title">
        Desserts
      </h3>
      <div class="submenuItem">
        <div class="submenuItem__title">
          Paris-Brest
        </div>
        <div class="submenuItem__arguments">
          Revisité
        </div>
        <div class="submenuItem__price">
          18€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Macaron au chocolat d'exception 
        </div>
        <div class="submenuItem__arguments">
          Et glace à la vanille de Madagascar
        </div>
        <div class="submenuItem__price">
          22€
        </div>

      </div>

      <div class="submenuItem">
        <div class="submenuItem__title">
          Mousse au chocolat 
        </div>
        <div class="submenuItem__arguments">
          Au piment d'Espelette et à la truffe noire
        </div>
        <div class="submenuItem__price">
          23€  
        </div>

      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer__logo">ohmyfood</div>
    <ul class="footer__list">
      <li class=footer__listElement>
        <a class="footer__link" href="#">
          <i class="fa-utensils fas"></i>
          Proposer un restaurant
        </a>
      </li>
      <li class="footer__listElement">
        <a class="footer__link" href="#">
          <i class="fa-hands-helping fas"></i>
          Devenir partenaire
        </a>
      </li>
      <li class="footer__listElement">
        <a class="footer__link" href="#">Mentions légales</a>
      </li>
      <li class="footer__listElement">
        <a class="footer__list" href="#">Contact</a>
      </li>
    </ul>
  </div>
</footer>
  



</body>