<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
  <title>Restaurant - Les délices du sens</title>
  <link rel="icon" type="image/svg" href="../public/images/logo/ohmyfood@2x.svg" />
</head>

<body>
  <header class="header header--backArrow">

    <a href="../index.html"><i class="fa-arrow-left fas header-arrow"></i></a>
    <h1>ohmyfood</h1>


  </header>
  
  <div class="hero-image">
    <img src="../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="" class="hero-image" />
  </div>
  <main class="container main-menu">
    <div class="menu__header">
      <h1 class="menu__header-name delayedD">Les délices du sens</h1>
      <button class="menu__btn">
        <i class="menu__like menu__like--noBg far fa-heart fa-2x"></i>
        <i class="menu__like menu__like--bg fas fa-heart fa-2x"></i>
      </button>
    </div>

    <div class="menu">
      <div class="submenu">
        <h3 class="submenu__title delayedA">
          Entrées
        </h3>
        <div class="submenu-item box-shadow delayed1">
          <div class="submenu-item__title">
            <h4>Tartare de thon</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Assaisonné au yuzu</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>25€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow delayed2">
          <div class="submenu-item__title">
            <h4>Bouchée de homard croustillant</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Et sa farandole de petits légumes</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>35€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow  delayed3">
          <div class="submenu-item__title">
            <h4>Velouté de cèpes</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Aux truffes</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>20€</p>
            </div>
          </div>
        </div>
      </div>
      <div class="submenu">
        <h3 class="submenu__title  delayedB">
          Plats
        </h3>
        <div class="submenu-item box-shadow delayed4">
          <div class="submenu-item__title">
            <h4>Poulet rôti aux herbes de Provence</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Et sa crème de truffe</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>40€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow delayed5">
          <div class="submenu-item__title">
            <h4>Langouste rôtie</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Et ses légumes de saison</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>35€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow delayed6">
          <div class="submenu-item__title">
            <h4>Côte de boeuf Angus</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Et sa purée de panais</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>44€</p>
            </div>
          </div>
        </div>
      </div>
      <div class="submenu">
        <h3 class="submenu__title delayedC">
          Desserts
        </h3>
        <div class="submenu-item box-shadow delayed7">
          <div class="submenu-item__title">
            <h4>Farandole de desserts</h4>
          </div>
          <div class="submenu-item__footer delayed">
            <div class="submenu-item__footer__arguments">
              <p>Du chef</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>18€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow delayed8">
          <div class="submenu-item__title">
            <h4>Crème brulée</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>Revisité</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>22€</p>
            </div>
          </div>
        </div>

        <div class="submenu-item box-shadow delayed9">
          <div class="submenu-item__title">
            <h4>Tiramisu</h4>
          </div>
          <div class="submenu-item__footer">
            <div class="submenu-item__footer__arguments">
              <p>À la noisette</p>
            </div>
            <div class="submenu-item__footer__price">
              <p>23€</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order">
      <button class="btn btn--gradiant btn--gradiant-animated text-font box-shadow" type="button">
        Commander
      </button>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__logo">ohmyfood</div>
      <ul class="footer__list">
        <li class="footer__listElement">
          <a class="footer__link" href="#">
            <i class="fa-utensils fas"></i>
            Proposer un restaurant
          </a>
        </li>
        <li class="footer__listElement">
          <a class="footer__link" href="#">
            <i class="fa-hands-helping fas"></i>
            Devenir partenaire
          </a>
        </li>
        <li class="footer__listElement">
          <a class="footer__link" href="#">Mentions légales</a>
        </li>
        <li class="footer__listElement">
          <a class="footer__list" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>