@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  background: #ff79da;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border: none;
  font-weight: bolder;
  width: fit-content;

  &--gradiant {
    background-image: -moz-linear-gradient(top, #ff79da, #9356dc);
    background-image: -ms-linear-gradient(top, #ff79da, #9356dc);
    background-image: linear-gradient(to bottom, #ff79da, #9356dc);
    color: #ffffff;

    &:hover {
      transition: 1000ms !important;
      opacity: 80% !important;
      box-shadow: 0 6px 27px -10px #000;
    }

    &-animated{
      
  opacity: 0;
  animation: fadein 1s 1500ms forwards;
      @media screen and(min-width: 1024px) {
        opacity: 0;
        animation: fadein 1s 600ms forwards;
      }
  }}


  }


.menu {
  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    position: relative;
    background-color: black;
    &--menu {
      font-size: 0.7rem;
    }
    &:hover::before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        $primary-color 0%,
        $secondary-color 100%,
 
      );
    }
  }

  &__like {
/*     display: flex;
    align-items: center;
    justify-content: center; */
    transition-duration: 0.5s;
    background-color: $grey-light-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    mix-blend-mode: lighten;


  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}

.bgWhite {
  background-color: #fff !important;
}
