.button {
  background-color: $primary-color;
}

.explore-btn {
  background: #FF79DA;
  background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
  background-image: -ms-linear-gradient(top, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  box-shadow: 0 1px 10px -2px black;
  @include font;
  font-weight: bolder;
}
