html {
width: 100% ;
}
body {margin: 0;}

p {
  font-size: 0.9rem;
}

a {text-decoration: none;
color: black}

.logo-font {
  font-family: shrikhand;
}

.background-colored {
  background-color: #f6f6f6;
}

.box-shadow {
  box-shadow: 0 6px 16px -15px #000;
}

.text-font {
  font-family: roboto;
}

.paddingAuto {
  padding-left: 20px;
  padding-right: 20px;
}

