.section-functiuning {
  @include flexCol-spacearound;
}

.steps {
  @include flexCol-spacearound;
  align-items: center;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    column-gap: 2rem;
  }

  &__step {
    display: flex;
    align-items: center;
    width: 90%;
    height: 75px;
    border-radius: 20px;
    margin: 15px 0;
    background-color: $grey-light-color;
  }
}

.step-number {
  position: relative;
  right: 55px;
  background-color: $primary-color;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.step-icon {
  @include grey-light-colour;
  position: relative;
  right: 25px;

  &--modified {
    position: relative;
    right: 25px;
    @include primary-colour;
  }
}
