@mixin font {
  font-family: roboto;
}
/* COLOR */
@mixin primary-colour {
  color: $primary-color;
}
@mixin secondary-colour {
  color: $secondary-color;
}
@mixin tertiary-colour {
  color: $tertiary-color;
}

@mixin alternative-colour {
  color: $grey-color;
}
@mixin grey-light-colour {
  color: $grey-light-color;
}
@mixin grey-colour {
  color: $grey-color;
}
@mixin grey-dark-colour {
  color: $grey-dark-color;
}

/* BACKGROUND COLOR */
@mixin bg-primary-colour {
  background-color: $primary-color;
}
@mixin bg-secondary-colour {
  background-color: $secondary-color;
}
@mixin bg-tertiary-colour {
  background-color: $tertiary-color;
}
@mixin bg-alternative-colour {
  background-color: $grey-color;
}
@mixin bg-grey-light-colour {
  background-color: $grey-light-color;
}
@mixin bg-grey-dark-colour {
  background-color: $grey-dark-color;
}

/* GRADIENTG BACKGROUND COLOR */
@mixin bg-gradient {
  background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}

/* FLEXBOX */

@mixin flexCol-spacearound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@mixin flexCol-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* MISC */

@mixin rounded {
  border-radius: 40px;
}

/* ELEMENTS*/
/* HEADER CODE */
@mixin header {
  height: 65px;
  text-align: center;
  width: 100%;
  position: relative;
  & h1 {
    font-family: $font-primary;
    font-size: 36px;
    margin: 18px 0 0 0;
  }
}
